<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Task Manager</title>

        <link href="css/styles.css" rel="stylesheet" />
        
        <!--Core-->
        <script src="js/angular.min.js"></script>
        <script src="js/app.js"></script>   

        <!--Controllers-->
        <script src="js/controllers/task-controller.js"></script>

        <!--Misc Directives-->
        <script src="js/filters/sort-by-property.js"></script>
        <script src="js/filters/tasks-filter.js"></script>
        <script src="js/filters/formatters.js"></script>

        <!--Services-->
        <script src="js/services/rest-service.js"></script>
        <script src="js/services/task-service.js"></script>

    </head>
    <body ng-controller="TaskCtrl" ng-init="init()">
        
        <div ng-repeat="task in tasks">
            
            <h1 ng-click="$parent.openedTask = task">{{task.Description}}</h1>
            <div style="width:500px; height:200px; background-color:white; border:solid 1px black;" ng-show="task.Id == $parent.openedTask.Id"></div>
            <h3>{{task.DueDate | formatIsoDate}}</h3>
        </div>

    </body>
</html>